{% extends 'base.html' %}

{% block content %}
<h3>Customers List</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">PHOTO</th>
      <th scope="col">NAME</th>
      <th scope="col">ADMISSION NUMBER</th>
      <th scope="col">EMAIL</th>
      <th scope="col">GENDER</th>
      <th scope="col">AGE</th>
    </tr>
  </thead>
  <tbody>
  {% for customer in data %}
    <tr>
      <td>
        {% if customer.image %}
        <img  src="{{ customer.image.url }}" alt="{{ customer.name }}" style="width: 80px; height: 80px; object-fit: cover">
        {% else %}
        <img  src="{% static 'image/placeholder.jpg' %}" alt="No image" style="width: 80px; height: 80px; object-fit: cover">
        {% endif %}
      </td>
      <td>{{customer.name}}</td>
      <td>{{customer.admission_number}}</td>
      <td>{{customer.email}}</td>
      <td>{{customer.gender}}</td>
      <td>{{customer.age}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}