<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'style/style.css'%}">
    <link rel="stylesheet" href="{%static 'style/bootstrap/css/bootstrap.min.css'%}">
</head>
<body>

<header>
<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

</header>

<h2>This is the home page</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid aperiam assumenda, blanditiis cum delectus distinctio eaque eius eligendi eveniet excepturi id illo illum inventore laboriosam modi neque numquam officia officiis quibusdam quo repellat repudiandae tempora tempore temporibus vitae voluptas voluptate! Accusantium atque beatae dolore eveniet explicabo facilis inventore laborum nihil odio praesentium, recusandae repellendus reprehenderit sapiente tempora voluptas. Ab animi blanditiis consequuntur dolor enim eos exercitationem incidunt nam nesciunt non odit, officiis omnis quas, quibusdam quis quo, reprehenderit sapiente sed unde vitae? Adipisci aut, debitis hic, itaque iure libero maxime natus nulla, odio qui quidem rerum vel velit voluptatem.</p>
<script src="../../static/style/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>