<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../../static/style/style.css">
    <link rel="stylesheet" href="../../static/style/bootstrap/css/bootstrap.min.css">
</head>
<body>

<header>
<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <!-- Navbar content -->
</nav>

<nav class="navbar bg-primary" data-bs-theme="dark">
  <!-- Navbar content -->
</nav>

<nav class="navbar" style="background-color: #e3f2fd;">
  <!-- Navbar content -->
</nav>

</header>
<h2>This is the home page</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid aperiam assumenda, blanditiis cum delectus distinctio eaque eius eligendi eveniet excepturi id illo illum inventore laboriosam modi neque numquam officia officiis quibusdam quo repellat repudiandae tempora tempore temporibus vitae voluptas voluptate! Accusantium atque beatae dolore eveniet explicabo facilis inventore laborum nihil odio praesentium, recusandae repellendus reprehenderit sapiente tempora voluptas. Ab animi blanditiis consequuntur dolor enim eos exercitationem incidunt nam nesciunt non odit, officiis omnis quas, quibusdam quis quo, reprehenderit sapiente sed unde vitae? Adipisci aut, debitis hic, itaque iure libero maxime natus nulla, odio qui quidem rerum vel velit voluptatem.</p>
<script src="../../static/style/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>