.bg-light {
    background-image: url('../../static/images/jumbotron.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    color: white;
}

footer {
  background-color: #212529; /* Dark background */
  color: #f8f9fa; /* Light text */
}

footer a:hover {
  color: #0d6efd; /* Bootstrap primary color */
  text-decoration: underline;
}
.carousel-item img {
    object-fit: cover;
    height: 500px; /* Adjust this height based on your design */
}

